html {
 background-color: #FFBBB2;
}

form {
background-color: #FFE8E5;
width: 50%;
text-align: center;
margin-left: 25%;
height: 45%;
padding-top: 1%;
border: 2px solid #FF9999;
border-radius: 5%;
font-family: 'Kodchasan', sans-serif;
}

h2 {
    text-align: center;
    height: 5%;
    padding-top: 10%;
    font-family: 'Mali', cursive;
    font-size: 3em;
    text-shadow: 2px 2px #FFE8E5;
}
